* {
    margin: 0;
}

html,
body {
    background-color: #fff;
    color: #0B1122;
    background: url(../img/background2.png) repeat-y;
}

.logo {
    margin: 60px 0 50px;
}

.logo img {
    width: 40rem;
}

a {
    color: #17AFD0 !important;
}

.overHeader {
    background-color: #444;
    color: #fff;
    text-align: center;
    font-size: 80%;
    padding: 4px;
}

.mr4 {
    margin-right: 4px;
}

span.code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 85%;
}

span.success {
    color: #155724;
}

span.warning {
    color: #856404;
}

span.danger {
    color: #c7254e;
}

.circled {
    border-radius: 50px;
}

.tavatar {
    width: 28px;
    height: 28px;
    margin-top: -6px;
    margin-right: 4px;
}

.tname {
    font-size: 1.6rem;
}

.dropdown-menu>li>span {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.mr12 {
    margin-right: 12px;
}

.spacer {
    margin: 6px;
}


.footer {
    margin-top: 40px;
    border-top: 1px solid #edfafc;
}

.footer a.item {
    padding: 0 12px;
}

.footer span.item {
    padding: 0 12px;
    color: #17AFD0;
    cursor: pointer;
}

.centered {
    text-align: center;
}

.level0 {
    margin: 24px 0 0;
}

.level1 {
    margin: 18px 0 0;
}

.level2 {
    margin: 64px;
}

div.account {
    padding: 42px 0 4px;
    text-align: center;
}

div.account .appIcon {
    font-size: 32px;
    position: absolute;
    top: 10px;
    left: 33px;
}

div.account .settingsIcon {
    position: absolute;
    top: 14px;
    right: 27px;
    font-size: 18px;
    cursor: pointer;
}

.command {
    color: #17AFD0;
}

p.user-data {
    padding: 20px 0px 8px;
}

blockquote {
    margin-left: 64px;
    border-left: 0.3rem solid #17AFD0 !important;
    padding-right: 140px;
    font-size: 3rem;
}

.padded {
    margin: 24px;
}

.bigger {
    font-size: 120%;
}

div.thinline {
    padding: 32px 0;
}

div.thinline > div {
    border-top: 1px solid #edfafc;
}

.smaller {
    font-size: 80%;
}

.logo-header {
    margin-top: -1px;
    cursor: pointer;
}

.trynow {
    padding-top: 42px;
}

.semicentered {
    text-align: center;
    padding: 24px;
    margin-left: -18px;
}

.semicentered span.badge {
    font-size: 200%;
    background-color: #bbb;
}
